// Colors
$lightning-yellow: #F0A128;
$moon-yellow: #EFC626;
$west-side: #E4852E;
$buttercup: #D99A2B;
$vista-white: #E8E0D5;
$blackish: #796B63;
$polo-blue: #94AECF;
$footer-black: #2c3435;
$dark-blackish: #372f1f;
$carousel-slider-background: #f9f2cd;
$carousel-slider-color: #6f5336;

// Tailwind Colors
$yellow-darkest: #453411;
$yellow-darker: #684f1d;
$yellow-dark: #f2d024;
$yellow: $west-side;
$yellow-light: #fff382;
$yellow-lighter: #fff9c2;
$yellow-lightest: #fcfbeb;

$black: #22292f;
$grey-darkest: #3d4852;
$grey-darker: #606f7b;
$grey-dark: #8795a1;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$grey-lighter: #f1f5f8;
$grey-lightest: #f8fafc;
$white: #FEFEFE;

$color-primary: $yellow;

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
