.u-text-orange {
  color: $west-side;
}

.u-border-white {
  border-color: $vista-white;
}

.u-h-52 {
  height: 14rem;
}

.u-font-heading {
  font-family: "Righteous", sans-serif;
  color: $black;
  letter-spacing: .2rem;
}
