.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    //Change for the <button> element
    //font-size: 1.25rem;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-.8px);
    @apply shadow-md;

    &::after {
      //transform: scaleX(1.4) scaleY(1.6);
      //opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-.2px);
    @apply shadow;
  }

  &--white {
    background: $white;
    //color: $blackish;

    &::after {
      //
    }
  }

  &--orange {
    color: $west-side;
    background: $white;
    border: 1px solid $west-side;
    font-weight: 500;

    &:hover {
      background: $west-side;
      color: $white;
      //  @apply bg-orange-dark;
    }
  }

  &--orange-home {
    color: $white;
    background: $west-side;
    padding: 1rem 3rem !important;
    transition: all .2s;
    font-weight: 600;

    &:hover {
      color: $white;
      background: $west-side;
    }
  }

  &--round {
    @apply flex items-center justify-center rounded-full;
  }

  &--sm {
    @apply text-sm;
  }

  &--pretty {
    color: $west-side;
    background: $white;
    padding: 1rem 3rem !important;
    transition: all .2s;
    font-weight: 600;

    &:hover {
      color: $white;
      background: $west-side;
    }
  }

  &--bottom-sheet {
    color: $white;
    background: $west-side;

    //&:hover {
    //  color: $white;
    //  @apply bg-orange-dark;
    //}
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
}

//.btn-text {
//    &:link,
//    &:visited {
//        font-size: $default-font-size;
//        color: $color-primary;
//        display: inline-block;
//        text-decoration: none;
//        border-bottom: 1px solid $color-primary;
//        padding: 3px;
//        transition: all .2s;
//    }
//
//    &:hover {
//        background-color: $color-primary;
//        color: $color-white;
//        box-shadow: 0 1rem 2rem rgba($color-black, .15);
//        transform: translateY(-2px);
//    }
//
//    &:active {
//        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
//        transform: translateY(0);
//    }
//}

//.btn {
//  @apply font-bold py-2 px-4 rounded;
//}
//
//.btn-blue {
//  @apply bg-blue text-white;
//}
//
//.btn-blue:hover {
//  @apply bg-blue-dark;
//}
//
//.btn-grey {
//  @apply bg-grey-light text-grey-darkest;
//}
//
//.btn-grey:hover {
//  @apply bg-grey;
//}
